/autom4te.cache
/bin/
/config.log
/config.status
/configure
/doc/*.css
/doc/*.js
/doc/\*Print\*
/doc/chap*.html
/doc/chap*.txt
/doc/chooser.html
/doc/manual.pdf
/doc/manual.six
/doc/AutoDocMainFile.xml
/doc/title.xml
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.tex
/doc/*.toc
/doc/*.xml
/Makefile
/reconf.sh
/Normaliz2.*
lib/cone_property_function.*
.*.swp
